@model ArticleDto

<!DOCTYPE html>


<html lang="en">
<!--
    Additional Classes:
        .nk-page-boxed
-->
<body>
    <div class="nk-main">

        <!-- START: Breadcrumbs -->
        <div class="nk-gap-1"></div>
        <div class="container">
            <ul class="nk-breadcrumbs">


                <li><a href="index.html">Home</a></li>


                <li><span class="fa fa-angle-right"></span></li>

                <li><a href="#">Blog</a></li>


                <li><span class="fa fa-angle-right"></span></li>

                <li><span>@Model.Title</span></li>

            </ul>
        </div>
        <div class="nk-gap-1"></div>
        <!-- END: Breadcrumbs -->




        <div class="container">
            <div class="row vertical-gap">
                <div class="col-lg-8">
                    <!-- START: Post -->
                    <div class="nk-blog-post nk-blog-post-single">
                        <!-- START: Post Text -->
                        <div class="nk-post-text mt-0">
                            <div class="nk-post-img">
                                <img style="height:30em;width:50em" class="mb-3" src="~/images/@Model.Image.FileName" alt="@Model.Title">
                            </div>
                            <div class="nk-gap-1"></div>
                            <h1 class="nk-post-title h4">@Model.Title</h1>
                            <div class="nk-post-by">
                                @await Component.InvokeAsync("AuthorPp") by <a href="#">@Model.User.FirstName @Model.User.LastName</a> @Model.CreatedDate.ToString("dd/MM/yyyy HH:mm")


                                <div class="nk-post-categories">
                                    <span class="nk-post-comments-count">Görüntülenme Sayısı: @Model.ViewCount</span>
                                    <span class="bg-main-1">@Model.Category.Name</span>
                                </div>

                            </div>
                            <div class="nk-gap"></div>
                            <p>
                                @Model.Content
                            </p>

                            @if (Model.Quote != null)
                            {
                                <div class="nk-gap"></div>
                                <blockquote class="nk-blockquote">
                                    <div class="nk-blockquote-icon"><span>"</span></div>
                                    <div class="nk-blockquote-content">
                                        @Model.Quote
                                    </div>
                                    <div class="nk-blockquote-author"><span>@Model.QuoteAuthor</span></div>
                                </blockquote>
                            }

                            @if (Model.VideoUrl != null)
                            {
                                <div class="nk-gap"></div>
                                <div class="nk-plain-video" data-video="@Model.VideoUrl"></div>
                            }

                            @if (Model.VideoContent != null)
                            {
                                <div class="nk-gap-2"></div>
                                <p>@Model.VideoContent</p>
                            }

                            @*<div class="nk-gap"></div>
                            <div class="nk-post-share">
                            <span class="h5">Share Article:</span>

                            <ul class="nk-social-links-2">
                            <li><span class="nk-social-facebook" title="Share page on Facebook" data-share="facebook"><span class="fab fa-facebook"></span></span></li>
                            <li><span class="nk-social-google-plus" title="Share page on Google+" data-share="google-plus"><span class="fab fa-google-plus"></span></span></li>
                            <li><span class="nk-social-twitter" title="Share page on Twitter" data-share="twitter"><span class="fab fa-twitter"></span></span></li>
                            <li><span class="nk-social-pinterest" title="Share page on Pinterest" data-share="pinterest"><span class="fab fa-pinterest-p"></span></span></li>

                            <!-- Additional Share Buttons
                            <li><span class="nk-social-linkedin" title="Share page on LinkedIn" data-share="linkedin"><span class="fab fa-linkedin"></span></span></li>
                            <li><span class="nk-social-vk" title="Share page on VK" data-share="vk"><span class="fab fa-vk"></span></span></li>
                            -->
                            </ul>
                            </div>*@
                        </div>
                        <!-- END: Post Text -->
                        <!-- START: Similar Articles -->
                        <div class="nk-gap-2"></div>
                        <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Yazarın</span> Benzer Yazıları</span></h3>
                        <div class="nk-gap"></div>
                        <div class="row">

                            @await Component.InvokeAsync("DetailSameArticles")

                        </div>
                        <!-- END: Similar Articles -->
                        <!-- START: Comments -->
                        <div id="comments"></div>
                        <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Yorumlar</span> </span></h3>
                        <div class="nk-gap"></div>
                        <div class="nk-comments">

                        </div>
                        <!-- END: Comments -->
                        <!-- START: Reply -->
                        <div class="nk-gap-2"></div>
                        <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Bir</span> Yorum Bırak</span></h3>
                        <div class="nk-gap"></div>



                        <!-- END: Reply -->
                    </div>
                    <!-- END: Post -->
                </div>
                <div class="col-lg-4">
                    <!--
                        START: Sidebar

                        Additional Classes:
                            .nk-sidebar-left
                            .nk-sidebar-right
                            .nk-sidebar-sticky
                    -->
                    <aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky nk-vertical-top">
                        <div class="nk-widget nk-widget-highlighted">
                            <h4 class="nk-widget-title"><span><span class="text-main-1">We</span> Are Social</span></h4>
                            <div class="nk-widget-content">
                                <!--
                                    Social Links 3

                                    Additional Classes:
                                        .nk-social-links-cols-5
                                        .nk-social-links-cols-4
                                        .nk-social-links-cols-3
                                        .nk-social-links-cols-2
                                -->
                                <ul class="nk-social-links-3 nk-social-links-cols-4">
                                    <li><a class="nk-social-twitch" href="#"><span class="fab fa-twitch"></span></a></li>
                                    <li><a class="nk-social-instagram" href="#"><span class="fab fa-instagram"></span></a></li>
                                    <li><a class="nk-social-facebook" href="#"><span class="fab fa-facebook"></span></a></li>
                                    <li><a class="nk-social-google-plus" href="#"><span class="fab fa-google-plus"></span></a></li>
                                    <li><a class="nk-social-youtube" href="#"><span class="fab fa-youtube"></span></a></li>
                                    <li><a class="nk-social-twitter" href="#" target="_blank"><span class="fab fa-twitter"></span></a></li>
                                    <li><a class="nk-social-pinterest" href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                    <li><a class="nk-social-rss" href="#"><span class="fa fa-rss"></span></a></li>

                                    <!-- Additional Social Buttons
                                        <li><a class="nk-social-behance" href="#"><span class="fab fa-behance"></span></a></li>
                                        <li><a class="nk-social-bitbucket" href="#"><span class="fab fa-bitbucket"></span></a></li>
                                        <li><a class="nk-social-dropbox" href="#"><span class="fab fa-dropbox"></span></a></li>
                                        <li><a class="nk-social-dribbble" href="#"><span class="fab fa-dribbble"></span></a></li>
                                        <li><a class="nk-social-deviantart" href="#"><span class="fab fa-deviantart"></span></a></li>
                                        <li><a class="nk-social-flickr" href="#"><span class="fab fa-flickr"></span></a></li>
                                        <li><a class="nk-social-foursquare" href="#"><span class="fab fa-foursquare"></span></a></li>
                                        <li><a class="nk-social-github" href="#"><span class="fab fa-github"></span></a></li>
                                        <li><a class="nk-social-linkedin" href="#"><span class="fab fa-linkedin"></span></a></li>
                                        <li><a class="nk-social-medium" href="#"><span class="fab fa-medium"></span></a></li>
                                        <li><a class="nk-social-odnoklassniki" href="#"><span class="fab fa-odnoklassniki"></span></a></li>
                                        <li><a class="nk-social-paypal" href="#"><span class="fab fa-paypal"></span></a></li>
                                        <li><a class="nk-social-reddit" href="#"><span class="fab fa-reddit"></span></a></li>
                                        <li><a class="nk-social-skype" href="#"><span class="fab fa-skype"></span></a></li>
                                        <li><a class="nk-social-soundcloud" href="#"><span class="fab fa-soundcloud"></span></a></li>
                                        <li><a class="nk-social-steam" href="#"><span class="fab fa-steam"></span></a></li>
                                        <li><a class="nk-social-slack" href="#"><span class="fab fa-slack"></span></a></li>
                                        <li><a class="nk-social-tumblr" href="#"><span class="fab fa-tumblr"></span></a></li>
                                        <li><a class="nk-social-vimeo" href="#"><span class="fab fa-vimeo"></span></a></li>
                                        <li><a class="nk-social-vk" href="#"><span class="fab fa-vk"></span></a></li>
                                        <li><a class="nk-social-wordpress" href="#"><span class="fab fa-wordpress"></span></a></li>
                                    -->
                                </ul>
                            </div>
                        </div>

                        @await Component.InvokeAsync("Last3Articles")

                        @await Component.InvokeAsync("LastSixArticleImages")

                        @await Component.InvokeAsync("PopularThreeArticles")

                    </aside>
                    <!-- END: Sidebar -->
                </div>
            </div>
        </div>

        <div class="nk-gap-2"></div>
    </div>
</body>
</html>
