@model ArticleListDto
<body>
    <div class="nk-main">

        <!-- START: Breadcrumbs -->
        <div class="nk-gap-1"></div>
        <div class="container">
            <ul class="nk-breadcrumbs">


                <li><a asp-controller="Blog" asp-action="Index">Ana Sayfa</a></li>


                <li><span class="fa fa-angle-right"></span></li>

                <li><a asp-controller="Blog" asp-action="Index">Blog</a></li>


                <li><span class="fa fa-angle-right"></span></li>

                <li><span>Yazılar</span></li>

            </ul>
        </div>
        <div class="nk-gap-1"></div>
        <!-- END: Breadcrumbs -->




        <div class="container">
            <div class="row vertical-gap">
                <div class="col-lg-8">

                    <!-- START: Posts Grid -->
                    <div class="nk-blog-grid">
                        <div class="row">
                            @foreach (var item in Model.Articles)
                            {
                                <div class="col-md-6">
                                    <!-- START: Post -->
                                    <div class="nk-blog-post">
                                        <a asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id" class="nk-post-img">
                                            <img style="height:20em;width:25em" class="mb-3" src="~/images/@item.Image.FileName" alt="@item.Title" />
                                            <span class="nk-post-comments-count">@item.ViewCount</span>
                                            <span class="nk-post-categories">
                                                <span class="bg-main-1">@item.Category.Name</span>
                                            </span>
                                        </a>
                                        <div class="nk-gap"></div>
                                        <h2 class="nk-post-title h4"><a asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id">@item.Title</a></h2>
                                        <div class="nk-post-by">
                                            @await Component.InvokeAsync("AuthorPp") by <a href="#">@item.User.FirstName @item.User.LastName</a> in @item.CreatedDate.ToString("dd/MM/yyyy HH:mm")
                                        </div>
                                        <div class="nk-gap"></div>
                                        <div class="nk-post-text">
                                            <p>@(item.Content.Length > 280 ? item.Content.Substring(0, 280) : item.Content)...</p>
                                        </div>
                                        <div class="nk-gap"></div>
                                        <a asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Devamını Oku</a>
                                    </div>
                                    <!-- END: Post -->
                                </div>
                            }
                        </div>
                        
                        <!-- START: Pagination -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center mb-4 mt-4 btn-block">
                                @if (Model.ShowPrevious)
                                {
                                    <li class="prev">
                                        <a asp-route-currentPage="@(Model.CurrentPage - 1)" asp-route-pageSize="@Model.PageSize">&lt;</a>
                                    </li>
                                }
                                @for (int i = 1; i <= Model.TotalPages; i++)
                                {
                                    <li class=" @(i == Model.CurrentPage ? "active" : "")">

                                        <a class="active" asp-route-currentPage="@i" asp-route-pageSize="@Model.PageSize"> @i </a>
                                    </li>
                                }
                                @if (Model.ShowNext)
                                {
                                    <li class="next">
                                        <a asp-route-currentPage="@(Model.CurrentPage + 1)" asp-route-pageSize="@Model.PageSize">&gt;</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                        <!-- END: Pagination -->
                    </div>
                    <!-- END: Posts Grid -->

                </div>
                <div class="col-lg-4">
                    <!--
                        START: Sidebar

                        Additional Classes:
                            .nk-sidebar-left
                            .nk-sidebar-right
                            .nk-sidebar-sticky
                    -->
                    <aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky-parent">
                        <div class="nk-widget">
                            <div class="nk-widget-content">
                                <form id="search_form" asp-controller="Blog" asp-action="Search" class="nk-form nk-form-style-1" novalidate="novalidate" method="get">
                                    <div class="input-group">
                                        <input type="text" name="keyword" class="form-control" placeholder="Aramak istediğiniz kelimeyi yazın...">
                                        <button class="nk-btn nk-btn-color-main-1"><span class="ion-search"></span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="nk-widget nk-widget-highlighted">
                            <h4 class="nk-widget-title"><span><span class="text-main-1">We</span> Are Social</span></h4>
                            <div class="nk-widget-content">
                                <!--
                                    Social Links 3

                                    Additional Classes:
                                        .nk-social-links-cols-5
                                        .nk-social-links-cols-4
                                        .nk-social-links-cols-3
                                        .nk-social-links-cols-2
                                -->
                                <ul class="nk-social-links-3 nk-social-links-cols-4">
                                    <li><a class="nk-social-twitch" href="#"><span class="fab fa-twitch"></span></a></li>
                                    <li><a class="nk-social-instagram" href="#"><span class="fab fa-instagram"></span></a></li>
                                    <li><a class="nk-social-facebook" href="#"><span class="fab fa-facebook"></span></a></li>
                                    <li><a class="nk-social-google-plus" href="#"><span class="fab fa-google-plus"></span></a></li>
                                    <li><a class="nk-social-youtube" href="#"><span class="fab fa-youtube"></span></a></li>
                                    <li><a class="nk-social-twitter" href="#"><span class="fab fa-twitter"></span></a></li>
                                    <li><a class="nk-social-pinterest" href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                    <li><a class="nk-social-rss" href="#"><span class="fa fa-rss"></span></a></li>

                                    <!-- Additional Social Buttons
                                        <li><a class="nk-social-behance" href="#"><span class="fab fa-behance"></span></a></li>
                                        <li><a class="nk-social-bitbucket" href="#"><span class="fab fa-bitbucket"></span></a></li>
                                        <li><a class="nk-social-dropbox" href="#"><span class="fab fa-dropbox"></span></a></li>
                                        <li><a class="nk-social-dribbble" href="#"><span class="fab fa-dribbble"></span></a></li>
                                        <li><a class="nk-social-deviantart" href="#"><span class="fab fa-deviantart"></span></a></li>
                                        <li><a class="nk-social-flickr" href="#"><span class="fab fa-flickr"></span></a></li>
                                        <li><a class="nk-social-foursquare" href="#"><span class="fab fa-foursquare"></span></a></li>
                                        <li><a class="nk-social-github" href="#"><span class="fab fa-github"></span></a></li>
                                        <li><a class="nk-social-linkedin" href="#"><span class="fab fa-linkedin"></span></a></li>
                                        <li><a class="nk-social-medium" href="#"><span class="fab fa-medium"></span></a></li>
                                        <li><a class="nk-social-odnoklassniki" href="#"><span class="fab fa-odnoklassniki"></span></a></li>
                                        <li><a class="nk-social-paypal" href="#"><span class="fab fa-paypal"></span></a></li>
                                        <li><a class="nk-social-reddit" href="#"><span class="fab fa-reddit"></span></a></li>
                                        <li><a class="nk-social-skype" href="#"><span class="fab fa-skype"></span></a></li>
                                        <li><a class="nk-social-soundcloud" href="#"><span class="fab fa-soundcloud"></span></a></li>
                                        <li><a class="nk-social-steam" href="#"><span class="fab fa-steam"></span></a></li>
                                        <li><a class="nk-social-slack" href="#"><span class="fab fa-slack"></span></a></li>
                                        <li><a class="nk-social-tumblr" href="#"><span class="fab fa-tumblr"></span></a></li>
                                        <li><a class="nk-social-vimeo" href="#"><span class="fab fa-vimeo"></span></a></li>
                                        <li><a class="nk-social-vk" href="#"><span class="fab fa-vk"></span></a></li>
                                        <li><a class="nk-social-wordpress" href="#"><span class="fab fa-wordpress"></span></a></li>
                                    -->
                                </ul>
                            </div>
                        </div>
                        <div class="nk-widget nk-widget-highlighted">
                            <h4 class="nk-widget-title"><span><span class="text-main-1">Kategoriler</span></span></h4>
                            @await Component.InvokeAsync("BlogCategories")
                        </div>

                        @await Component.InvokeAsync("Last3Articles")

                        @await Component.InvokeAsync("LastSixArticleImages")

                        @await Component.InvokeAsync("PopularThreeArticles")

                    </aside>
                    <!-- END: Sidebar -->
                </div>
            </div>
        </div>

        <div class="nk-gap-2"></div>
    </div>
</body>