@model List<ArticleDto>


<!-- START: Post -->
@foreach (var item in Model)
{
    <div class="col-md-6 col-lg-3">
        <div class="nk-blog-post">
            <a asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id" class="nk-post-img">
                <img style="height:18em;width:18em" class="mb-3" src="~/images/@item.Image.FileName" alt="@item.Title" />
                <span class="nk-post-comments-count">@item.ViewCount</span>

                <span class="nk-post-categories">
                    <span class="bg-main-5">@item.Category.Name</span>
                </span>

            </a>
            <div class="nk-gap"></div>
            <h2 class="nk-post-title h4"><a asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id">@item.Title</a></h2>
            <div class="nk-post-text">
                <p>@(item.Content.Length > 280 ? item.Content.Substring(0, 280) : item.Content)...</p>
            </div>
            <div class="nk-gap"></div>
            <a asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Devamını Oku</a>
            <div class="nk-post-date float-right"><span class="fa fa-calendar"></span> @item.CreatedDate.ToString("dd/MM/yyyy")</div>
        </div>
    </div>
}
<!-- END: Post -->
